@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    /* min weight: 100, max: 900 */
}
:root{
    --gray-clr: hsl(0, 0%, 82%);
    --matte-black: hsl(0, 0%, 35%);
    --beige-clr: hsl(29, 41%, 96%);
    --blue-clr: #3d3bd0; 
    --content-width: 85%; 
}
html{ scroll-behavior: smooth; }
html, body{
    min-height: 100%;
    min-width: 100%;
}
body{ font-family: "Kumbh Sans", sans-serif; }
html.--h-100,
body.--h-100{ 
    height: 100%;
}
button{ cursor: pointer; }
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.default-link{
    display: inline-block;
    height: max-content;
    padding: 1em;
    color: var(--blue-clr);
    font-weight: 700;
}
.default-btn{
    position: relative;
    display: inline-block;
    height: max-content;
    cursor: pointer;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 1em 1.75em;
}
.default-btn.--bg-blue{
    background-color: var(--blue-clr);
    color: white;
}
.default-btn.--bg-white{
    background-color: white;
    color: var(--blue-clr);
}
.default-btn.--gray-border{
    border: solid 1px var(--gray-clr);
}
.container{
    min-width: 167px;
    width: var(--content-width);
    margin: 0 auto;
}
.text-upper{ text-transform: uppercase; }

.top-header, 
.hero,
.main-footer{
    background-color: var(--beige-clr);
}
.top-header .container{
    position: relative;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 0;
    overflow: visible;
}
.logo{
    width: max-content;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: clamp(1.25rem, 1vw, 2rem);
    text-decoration: none;
    color: black;
}
.nav-btn{
    display: flex;
    width: 21px;
    height: 21px;
    padding: 0;
    background-color: transparent;
}
.navbar{
    width: 100%;
    margin-top: 1em;
    padding: 1em 0;
    background-color: hsl(29, 41%, 90%);
    border-radius: 5px;
}
.js .navbar{
    visibility: hidden;
    padding: 0;
    max-height: 1px;
    overflow: hidden;
    transition: max-height .2s ease-in-out;
}
.navbar.--active{
    visibility: visible;
    padding: 1em 0;
    max-height: 100vh;
}
.navbar__list{ 
    list-style: none; 
    text-align: center;
}
.navbar__item{ margin-bottom: .5em; }
.navbar__item a:not(.default-btn){
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;
}
.navbar__item .default-btn{ font-weight: bold; }

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.hero__illustration{
    position: relative;
    top: -1.5em;
    width: 100%;
    max-width: 614px;
}
.hero__introduction{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.75em;
}
.hero__introduction___title{ font-size: clamp(2.5rem, 2vw, 3rem); }
.hero__introduction___content{ 
    margin: .75em 0;
    font-size: 1.10rem;
    font-weight: 300; 
    line-height: 1.35;
    text-align: left;
    color: var(--matte-black);
}
.hero__introduction .default-link{ text-align: center; }
.hero__introduction___advantages{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
}
.hero__introduction___advantages p{ 
    display: flex;
    align-items: center;
    width: max-content;
    margin-bottom: 1em;
    color: var(--matte-black);
}
.hero__introduction___advantages .icon{ margin-right: .5em; }
.advantage-section{ margin-top: 3.5em; }
.advantage-section .container,
.portfolio-example .container,
.advantage-section__about-porfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage-section__question{
    margin-right: auto;
    text-align: left;
    font-size: 1rem;
    color: var(--blue-clr);
}
.advantage-section__reason{
    max-width: 100%;
    margin: .5em 0;
    font-size: 2.5rem;
    font-weight: 700;
    word-wrap: break-word;
}
.advantage-section__list{ list-style: none;}
.advantage-section__list-item{ padding: 1.25em 0; }
.advantage-section__list-item .title{
    margin: .75em 0;
    font-size: 1rem;
}
.advantage-section__list-item .content,

.porfolio-example__description__content{
    line-height: 1.5;
    color: var(--matte-black);
}
.portfolio-example{ margin: 3em 0; }
.portfolio-example .container{ 
    padding-top: 1.5em;
    background-color: var(--blue-clr); 
    border-radius: 10px;
}
.portfolio-example__description{ 
    padding: 1.5em 2em; 
}
.portfolio-example__description___title{ 
    font-size: 2.15rem; 
    max-width: 100%;
    word-wrap: break-word;
}
.portfolio-example__description__content{ 
    margin: .75em 0; 
    line-height: 1.5;
}
.portfolio-example__description___title,
.portfolio-example__description__content{ 
    color: white; 
}
.portfolio-example__description .default-btn{
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
}
.portfolio-example__illustration{ 
    padding: 1.5em 2em 0; 
    /* overflow: hidden; */
}
.portfolio-example__illustration img{
    position: relative;
    bottom: -4px;
    width: 100%;
    max-width: 658px;
    border-radius: 5px 5px 0 0;
}

.testimonials-section{ padding: 2em 0 3.5em; }
.testimonials-section .container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.testimonial-card{
    display: flex;
    flex-direction: column;
    max-width: 420px;
    min-height: 313px;
    flex-shrink: 0;
    border: solid 1px var(--gray-clr);
    padding: 1.5em;
    border-radius: 5px;
    box-sizing: border-box;
}
.testimonial-card:not(:last-child){ margin-bottom: 2em; }
.testimonial-card__header{
    display: flex;
    align-items: center;
}
.testimonial-card__user-img{
    margin-right: .75em;
    width: 40px;
}
.testimonial-card__user-name{
    color: var(--blue-clr);
    font-size: .95rem;
}
.testimonial-card__user-gains{ font-size: 1rem; }
.testimonial-card__content{
    margin: .85em 0;
    line-height: 1.5;
    font-size: 1.05rem;
}
.testimonial-card-btn{
    width: 100%;
    margin-top: auto;
    font-weight: 700;
    box-sizing: border-box;
}

.main-footer{ padding: 3em 0; }
.main-footer .container{
    display: flex;
    flex-direction: column;
}
.main-footer__section:not(:last-child){ margin-bottom: 1.5em; }
.main-footer__section___title{ 
    padding: .5em 0;
    font-size: 1.15rem; 
}
.main-footer__section___content{
    font-size: 1.03rem;
    line-height: 1.5;
    color: var(--matte-black);
}
.main-footer__section___content:last-child{ margin-top: 1.25em; }
.main-footer__list{ list-style: none; }
.main-footer__list-item{
    display: inline-block;
    padding: .75em 1em .75em 0;
    text-decoration: none;
    font-size: .95rem; 
    color: var(--matte-black);
}

.form-container,
.hero-container{
    padding: 2.5em 1.5em;
}
.hero-container{
    display: none;
}
.singup-title{
    margin: 1em 0;
    font-size: 2.25rem;
}
.form{ min-width: 208px; }
.form label{
    display: block;
    margin: 2em 0 .5em;
    font-weight: 600;
    font-size: 1.02rem;
}
.form input{
    display: block;
    width: 100%;
    padding: .75em;
    box-sizing: border-box;
    border: solid 1px var(--gray-clr);
    border-radius: 5px;
    color: var(--matte-black);
}
.form input[aria-invalid="true"]{ border-color: red; }
.form-terms-box{
    display: flex;
    margin-top: 2em;
}
.form-terms-box label{
    display: inline-block;
    margin: 0;
    padding: 0 .5em 0 .75em;
    line-height: 1.5rem;
    font-weight: 400;
    font-size: 1.03rem;
}
.styled-input{
    --input-width: 17px;
    --input-height: 17px;
    position: relative;
    height: max-content;
}
#form__terms{ 
    width: var(--input-width);
    height: var(--input-height);
    opacity: 0; 
}
.styled-input__checkbox{
    position: absolute;
    left: 0%;
    top: 0%;
    z-index: -1;
    display: inline-block;
    width: var(--input-width);
    height: var(--input-height);
    background-color: transparent;
    outline: solid 1px var(--gray-clr);
    border-radius: 5px;
}
.styled-input__checkbox::before{
    content: "";
    position: absolute;
    inset: 50%;
    display: inline-block;
    width: 65%;
    height: 65%;
    border-bottom: solid 3.5px transparent;
    border-right: solid 3.5px transparent;
    transform: translate(-50%, -60%) rotate(45deg);
    background: transparent;
    box-sizing: border-box;
}
#form__terms:checked + .styled-input__checkbox{ 
    background-color: var(--blue-clr); 
    outline-width: 2px; 
}
#form__terms:checked + .styled-input__checkbox::before{ border-color: white; }
.form__terms___link{ 
    color: var(--blue-clr); 
    font-weight: 700;
}
.form .default-btn{
    margin: 1.25em 0;
    width: 100%;
    font-weight: 700;
}
.form__hasAccount{
    font-weight: 400;
    text-align: center;
}
.form__hasAccount .link-signin{
    font-weight: 400;
    text-decoration: none;
    color: var(--blue-clr);
}
.form-password-box{ position: relative; }
.password-btn{
    position: absolute;
    top: 50%;
    bottom: 50%;
    right: 3%;
    z-index: 2;
    height: max-content;
    transform: translateY(-50%);
    border: none;
    background: transparent;
}
.password-btn svg{
    fill: #A9A9A9;
    transition: fill .5s ease-in;
}
.password-btn.--active svg{
    fill: var(--blue-clr);
}
.form-container{
    max-width: 487px;
    margin: 0 auto;
}
.singup-img-box,
.singup-hero{
    min-width: 430px;
    max-width: 600px;
}
.singup-img-box .src{
    width: 100%;
    flex-shrink: 0;
}
.singup-hero__title{
    margin-top: .75em;
    text-align: center;
    font-size: 1.75rem;
}
.singup-hero__content{
    text-align: center;
    line-height: 1.5;
    font-weight: 300;
    margin: .5em 0;
}
.singup-hero__list{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
}
.singup-hero__list li{
    margin-right: .1em;
    padding: 0 .2em;
}
.singup-hero__btn-section{
    width: 11px;
    height: 11px;
    border-radius: 50%;
    border: none;
    background-color: rgba(255, 255, 255);
    opacity: .6;
    transition: opacity 500ms ease-out;
}
.singup-hero__btn-section.--active{ opacity: 1; }

.classification{ 
    display: none; 
    margin-bottom: 1em;
}
.classification__stars{
    display: inline-block;
    background: url(../assets/star.svg) space;
    width: 100px;
    margin-right: 1em;
}
.error-box{
    margin-top: .5em;
    list-style-position: inside;
    list-style-type: '\261B';
    font-size: .75rem;
    color: red;
}

.carousel{ overflow: hidden; }
.carousel .slider{
    display: flex;
    max-width: 600px;
}
.carousel .slider:not(.--no-animation){ transition: transform .5s ease-in; }

@media (hover:hover) and (pointer:fine){
    .default-btn{ 
        position: relative; 
        transition: transform .2s ease-in;
    }
    .default-btn:not(.nav-btn)::before{
        content: "";
        position: absolute;
        inset: 0;
        display: block;
        width: 0%;
        height: 100%;
        background-color: var(--blue-clr);
        opacity: .2;
        border-radius: 5px;
        transition: width .1s ease-in;
    }
    .default-btn:not(.nav-btn):hover{ transform: scale(1.03); }
    .default-btn:not(.nav-btn):hover::before{ width: 100%; }
        
    .navbar__item .link,
    .main-footer__list-item,
    .default-link{ 
        position: relative;
        text-decoration: none; 
    }
    .navbar__item .link::after,
    .main-footer__list-item::after,
    .default-link::after{
        content: "";
        position: absolute;    
        display: inline-block;
        width: 0%;
        height: 2.5px;
        background: currentColor;
        transition: width .2s ease-in;
    }
    .navbar__item .link::after{
        left: 1em;
        bottom: .75em;
    }
    .main-footer__list-item::after{
        left: 0%;
        bottom: .55em;
    }
    .default-link::after{
        left: 1em;
        top: calc(100% - 1em);
    }
    .navbar__item .link:hover::after{
        width: calc(100% - 2em);
    }
    .main-footer__list-item:hover::after{
        width: calc(100% - .75em);
    }
    .default-link:hover::after{
        width: calc(100% - 2em);
    }
}
@media screen and (min-width: 576px){ :root{ --content-width: 75%; } }
@media screen and (min-width: 768px){
    :root{ --content-width: 80%; }
    .default-btn:not(.testimonial-card .default-btn, .--w-100){ max-width: 200px; }
    .hero__introduction{ flex-flow: row wrap; }
    .hero__introduction .default-link{ margin-left: 1em; }
    .hero__introduction___advantages{ 
        flex-direction: row;
        margin-top: 1em; 
    }
    .hero__introduction___advantages p:not(:first-child){ margin-left: 1em; }
    .testimonials-section .container{
        flex-direction: row;
        align-items: flex-start;
        padding-bottom: 2em;
        overflow-x: auto;
    }
    .testimonials-section .testimonial-card{
        margin: 0;
    }
    .testimonial-card:not(:last-child){
        margin-right: 2em;
    }
    .main-footer .container{
        flex-flow: row wrap;
        justify-content: center;
    }
}
@media screen and (min-width: 992px){
    .top-header .container{
        flex-wrap: nowrap;
        padding: 0;
    }
    .navbar{ 
        display: inline-block; 
        flex-grow: 1;
        width: auto;
        background: transparent;
    }
    .nav-btn{ display: none;}
    .navbar__list{ display: flex; }
    .navbar__list .ml-auto{ margin-left: auto; }
    .hero .container,
    .portfolio-example .container{
        display: grid;
    }
    .hero .container{ 
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        padding-bottom: 5.5em;
    }
    .hero__introduction{ 
        grid-column: 1;
        display: block;
        padding: 0;
    }
    .hero__illustration{ 
        grid-column: 2;
        position: static;
        width: 110%;
        max-width: 838px;
    }
    .hero__introduction,
    .hero__illustration{
        grid-row: 1;
    }
    .hero__introduction___title,
    .hero__introduction___content{
        height: max-content;
    }
    .hero__introduction___advantages{
        margin-top: 1.5em;
    }
    .classification{ display: flex; }
    .advantage-section .container{
        align-items: flex-start;
    }
    .advantage-section__reason{ 
        max-width: 60%;
    }
    .advantage-section__list{
        display: flex;
        justify-content: space-between;
        margin: 0 auto;
    }
    .advantage-section__list-item{ max-width: 30%; }
    .portfolio-example .container{
        grid-template-columns: 40% 60%;
        justify-items: center;
    }
    .main-footer .container{
        display: grid;
        grid-template-columns: 1fr repeat(4, 15%);
        justify-content: unset;
    }
}
@media screen and (min-width: 1200px){
    html{ font-size: 17px; }
    .portfolio-example__description{ padding: 0 0 0 2em; }
    .singup-container{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        min-height: 100%;
        box-sizing: border-box;
    }
    .form-container,
    .hero-container{
        box-sizing: border-box;
    }
    .form-container{
        margin: unset;
        padding: 1.5em 0;
        justify-self: center;
        align-self: center;
    }
    .hero-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1em 5em;
        background-color: var(--blue-clr);
        color: white;
    }
}
@media screen and (min-width: 3000px){ html{ font-size: 20px; } }