@font-face {
    font-family: "Kumbh Sans";
    src: url("../fonts/inter/Inter-VariableFont_slnt,wght.ttf") format("truetype");
    /* min weight: 100, max: 900 */
}
:root{
    --gray-clr: hsl(0, 0%, 82%);
    --matte-black: hsl(0, 0%, 35%);
    --beige-clr: hsl(29, 41%, 96%);
    --blue-clr: #3d3bd0;
    --content-width: 85%; 
}
html{ scroll-behavior: smooth; }
html, body{
    min-height: 100%;
    min-width: 100%;
}
body{
    font-family: "Kumbh Sans", sans-serif;
}
img{
    max-width: 100%;
}
h1, h2, h3, h4, h5, h6, p, ul{
    margin: 0;
    padding: 0;
}
.sr-only {
    position: absolute;
    left: -10000px;
    top: auto;
    width: 1px;
    height: 1px;
    overflow: hidden;
}
.default-link{
    display: inline-block;
    padding: 1em;
    color: var(--blue-clr);
    font-weight: 700;
}
.default-btn{
    position: relative;
    display: inline-block;
    cursor: pointer;
    background-color: transparent;
    color: black;
    text-decoration: none;
    text-align: center;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 1em 1.75em;
}
.default-btn.--bg-blue{
    background-color: var(--blue-clr);
    color: white;
}
.default-btn.--bg-white{
    background-color: white;
    color: var(--blue-clr);
}
.default-btn.--gray-border{
    border: solid 1px var(--gray-clr);
}
.container{
    min-width: 167px;
    width: var(--content-width);
    margin: 0 auto;
}
.text-upper{ text-transform: uppercase; }

.top-header, 
.hero,
.main-footer{
    background-color: var(--beige-clr);
}
.top-header .container{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 2em 0 0;
    overflow: visible;
}
.logo a{
    display: flex;
    align-items: center;
    font-size: clamp(1.25rem, 1vw, 2rem);
    text-decoration: none;
    color: black;
}
.nav-btn{
    display: flex;
    width: 21px;
    height: 21px;
    padding: 0;
    background-color: transparent;
}
.navbar{
    display: none;
    width: 100%;
    max-height: 1px;
    opacity: 0;
    margin-top: 1em;
    padding: 1em 0;
    background-color: hsl(29, 41%, 90%);
    border-radius: 5px;
    overflow: hidden;
    transition: max-height, opacity 1s ease-in;
}
.navbar.--active{
    max-height: 100%;
    opacity: 1;
}
.navbar__list{ 
    list-style: none; 
    text-align: center;
}
.navbar__item{ margin-bottom: .5em; }
.navbar__item a:not(.default-btn){
    display: inline-block;
    padding: 1em;
    text-decoration: none;
    color: black;
}
.navbar__item .default-btn{ font-weight: bold; }

.hero__illustration{
    position: relative;
    top: -1.5em;
}
.hero__introduction{
    display: flex;
    flex-direction: column;
    padding-bottom: 1.75em;
}
.hero__introduction___title{ font-size: clamp(2.5rem, 2vw, 3rem); }
.hero__introduction___content{ 
    margin: .75em 0;
    font-size: 1.10rem;
    font-weight: 300; 
    line-height: 1.35;
    text-align: left;
    color: var(--matte-black);
}
.hero__introduction .default-link{ text-align: center; }
.hero__introduction___advantages{
    display: flex;
    align-items: center;
    margin-bottom: 1em;
}
.hero__introduction___advantages .icon{ margin-right: .5em; }
.advantage-section{ margin-top: 3.5em; }
.advantage-section .container,
.porfolio-example .container,
.advantage-section__about-porfolio{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.advantage-section__question{
    margin-right: auto;
    text-align: left;
    font-size: 1rem;
    color: var(--blue-clr);
}
.advantage-section__reason{
    max-width: 100%;
    margin: .5em 0;
    font-size: 2.5rem;
    font-weight: 700;
    word-wrap: break-word;
}
.advantage-section__list{ list-style: none;}
.advantage-section__list-item{ padding: 1.25em 0; }
.advantage-section__list-item .title{
    margin: .75em 0;
    font-size: 1rem;
}
.advantage-section__list-item .content,

.porfolio-example__description__content{
    line-height: 1.5;
    color: var(--matte-black);
}
.porfolio-example{ margin: 3em 0; }
.porfolio-example .container{ 
    padding-top: 1.5em;
    background-color: var(--blue-clr); 
    border-radius: 10px;
}
.porfolio-example__description{ padding: 1.5em 2em; }
.porfolio-example__description___title{ 
    font-size: 2.15rem; 
    max-width: 100%;
    word-wrap: break-word;
}
.porfolio-example__description__content{ margin: .75em 0; }
.porfolio-example__description___title,
.porfolio-example__description__content{ 
    color: white; 
}
.porfolio-example__description .default-btn{
    width: 100%;
    box-sizing: border-box;
    font-weight: 700;
}
.porfolio-example__illustration{
    padding: 1.5em 2em 0;
    height: 400px;
}
.porfolio-example__illustration img{
    object-fit: cover;
    object-position: center;
    height: 100%;
    border-radius: 5px 5px 0 0;
}

.testimonials-section{ padding: 2em 0 3.5em; }
.testimonial-card{
    border: solid 1px var(--gray-clr);
    padding: 1.5em;
    border-radius: 5px;
}
.testimonial-card:not(:last-child){ margin-bottom: 2em; }
.testimonial-card__header{
    display: flex;
    align-items: center;
}
.testimonial-card__user-img{
    margin-right: .75em;
    width: 40px;
}
.testimonial-card__user-name{
    color: var(--blue-clr);
    font-size: .95rem;
}
.testimonial-card__user-gains{ font-size: 1rem; }
.testimonial-card__content{
    margin: .85em 0;
    line-height: 1.5;
    font-size: 1.05rem;
}
.testimonial-card-btn{
    width: 100%;
    font-weight: 700;
    box-sizing: border-box;
}

.main-footer{ padding: 3em 0; }
.main-footer__section:not(:last-child){ margin-bottom: 1.5em; }
.main-footer__section___title{ 
    padding: .5em 0;
    font-size: 1.15rem; 
}
.main-footer__section___content{
    font-size: 1.03rem;
    line-height: 1.5;
    color: var(--matte-black);
}
.main-footer__section___content br{ margin-bottom: .25em; }
.main-footer__list{ list-style: none; }
.main-footer__list-item{
    display: inline-block;
    padding: .75em 1em .75em 0;
    text-decoration: none;
    font-size: .95rem; 
    color: var(--matte-black);
}